<style>
.moonview{
  width: 100%;
  height: 100dvh;
}
.planets-container{
  width: 100%;
  height: 100%;
}
.planets-container .background-planets{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("https://cdn.shopify.com/s/files/1/0894/4438/5073/files/Navigation-Desktop.gif");
  background-size: cover;
  width: 50%;
  height: 50%;
  display: block;
}
</style>
<div class="planets-container">
    <div class="background-planets"></div>
    <div>
    
    </div>
</div>
{% schema %}
{
  "name": "Moonview",
  "tag": "section",
  "class": "moonview",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Moonview"
    }
  ],
  "max_blocks": 5,
  "blocks": [
     {
       "name": "Planet",
       "type": "planet",
       "settings": [
         {
           "type": "text",
           "id": "title",
           "label": "Link Text"                                            
         },                                                                                                                                 
         {
           "type": "page",
           "id": "page",
           "label": "Page"
         },
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
  ],
  "presets": [
    {
      "name": "Moonview",
      "settings": {
        "title": "Moonview"
      },
      "blocks": [
        {
          "type": "planet"
        },
        {
          "type": "planet"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "title": "Slideshow"
    },
    "fr": {
      "title": "Diaporama"
    }
  },
  "enabled_on": {
    "templates": ["*"],
    "groups": ["footer"]
  }
}
{% endschema %}
