<style>
  :not(:defined) > * {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.moon-3d-container{
  width: 100%;
  height: 100vh;
  top: 0;
  position: absolute;
  left: 0;
}
model-viewer {
  width: 100%;
  height: 55vh;
  display: block;
  position: absolute;
  top: 30vh;
}


.progress-bar {
  display: none;
  /* width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5); */
}
  model-viewer::part(default-progress-bar){
    display: none;
  }
  .moon-info{
    display: flex;
    position: absolute;
    bottom: 130px;
    width: 100%;;
    justify-content: space-between;
    color: white;
  }
</style>
<div class="moon-3d-container">
  <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
  <model-viewer src="https://cdn.shopify.com/3d/models/o/fd0850db3517019d/moon.glb" loading="eager" disable-pan interaction-prompt="none" ar ar-modes="webxr scene-viewer quick-look" style="--poster-color: transparent;" disable-zoom camera-controls tone-mapping="neutral" poster="" shadow-intensity="0"> </model-viewer>
  <div class="moon-info">
    <div class="coordinates-container">
      <span>(</span><span class="x-coord">x</span><span>,</span><span class="y-coord">y</span><span>)</span>
    </div>
    <span>MOONRELATED 2025</span>
    <div class="time-container">
      <span>(</span><span>00 : 00 : 00</span><span>)</span>
    </div>
  </div>   
</div>
<script>
</script>
{% schema %}
  {
    "name": "3D Moonview",
    "tag": "section",
    "class": "moon-3d",
    "settings": [
      {
      "type": "text",
      "id": "title",
      "label": "Moonview"
    }
    ],
    "presets": [
      {
        "name": "3D Moonview",
        "settings": {
          "title": "3D Moonview"
        }
      }
    ]
  }
{% endschema %}