.contact {
  width: 50vw;
    height: 40vh;
  background-color: #040a5bb8;
  border-radius: 50px;
   border-style: solid;
  border-width: 1px;
  border-color: #fff;
  padding: 20px;
}

.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field__input {
  margin-bottom: 1.5rem;
  --color-background: none;
  pointer-events: none !important;
}

.contact .field:after {
  box-shadow: none;
}

.section-template--23227293204785__form-padding {
  padding: 0;
}

.contact__button {
  position: relative;
  bottom: 0;
}

.contact__sub {
  height: 100%;
  display: flex;
  flex-direction: column;
justify-content: space-between;
  padding: 30px;
}

.field__parent {
  display: flex;
  flex-direction: column;
}
.button__parent {
  display: flex;
  position: relative;
  bottom: 0;
  justify-content: flex-end;
}

.contact-divider {
  padding: 1.5rem;
}

.contact .field {
  display: flex;
  flex-direction: row;
      flex-wrap: none !important;

}

.contact .field--with-error {
  display: flex;
  flex-direction: row;
      flex-wrap: none;

}

@media screen and (min-width: 750px) {

  .section-template--23227293204785__form-padding {
  padding: 0;
}
}
